
header {
  position: relative;
  background: rgb(215, 228, 37);
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  
  border-top-width: 5px;
  border-right-width: 5px;
  height: 150px;
  border-radius: 25px;

}

.bee {
  background:none;
  float: left;
}
.title {
  position: absolute;
  font-family: 'Sniglet', cursive;
  font-size: 80px;
  left: 215px;
  top: 35px;
}
#links {
  float: right;
  margin-top: 25px;
  margin-right: 20px;
  font-family: 'Sniglet', cursive;
}
li {
  margin-bottom: 10px;
}
#Submit {
  position: absolute;
  width: 100px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  right: 950px;
  top: 550px;
  font-family: 'Sniglet', cursive;
}
input[type=submit] {
  padding:5px 15px; 
  background: black;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  font-family: 'Sniglet', cursive;
  color:  rgb(215, 228, 37);
  font-size: 20px;
}
#arrays {
  position: absolute;
  top: 700px;
  left: 200px;
  font-family: 'Sniglet', cursive;
}
#wordInput {
  position: absolute;
  left: 800px;
  top: 250px;
  font-family: 'Sniglet', cursive;
}
#pictureInput {
  position: absolute;
  right: 200px;
  top: 700px;
  font-family: 'Sniglet', cursive;
}