body {
  
  margin: 0;
  background-position: center;
  background: fixed;
  background-repeat: no-repeat;
  
}
header {
  position: relative;
  background: rgb(215, 228, 37);
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  
  border-top-width: 5px;
  border-right-width: 5px;
  height: 150px;
  border-radius: 25px;

}

.bee {
  background:none;
  float: left;
}
.title {
  position: absolute;
  font-family: 'Sniglet', cursive;
  font-size: 80px;
  left: 215px;
  top: 35px;
}
#links {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  font-family: 'Sniglet', cursive;
  
  
}
a {
  color: blue;
}
li {
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color:white;
  font-size: 14px;
  text-align: center;
  border-radius: 15px;}

h2 {
  position: relative;
  left: 450px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: 'Sniglet', cursive;
  }

.about {
  display: inline-block;
  background-position: center;
  position: absolute;
  z-index: -2;
  width: 500px;
  height: 600px;
  margin-left: 300px;
  margin-top: 0px;
  font-family: 'Sniglet', cursive;
}

#pOne {
  position: relative;
  top: 100px;
  left: 130px;
}
#pTwo {
  position: relative;
  top: 115px;
  left: 105px;
}  
#pThree {
  position: relative;
  top: 135px;
  left: 80px;
}
#pFour {
  position: relative;
  top: 150px;
  left: 50px;
}
#pFive {
  position: relative;
  top: 180px;
  left: 10px;
}
#pSix {
  position: relative;
  top: 210px;
  right: 20px;
}
#pSeven {
position: relative;
top: 240px;
right: 50px;
}
#pEight {
position: relative;
top: 270px;
right: 95px;
}
#scroll {
  
  position: absolute;
  z-index: -1;
  width: 900px;
  height: 800px;
  top: 0px;
  left: -200px;

}

#credits{
position: relative;
top: 375px;
right: 25px;
z-index: 2;
}
#credits li{
  display: inline;
  margin-left: 3px;
  background-color:  rgb(215, 228, 37);
  border-radius: 3px;
  padding: 2px;
}
