#page2 {
  
  margin: 0;
  background-image: url("https://dumielauxepices.net/sites/default/files/background-clipart-landscape-846790-313843.png");
  height:930px;
  background-position: center;
  background-repeat: no-repeat;
  
}


header {
  position: relative;
  background: rgb(215, 228, 37);
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  border-top-width: 5px;
  border-right-width: 5px;
  height: 150px;
  border-radius: 25px;

}

.bee {
  background:none;
  float: left;
}
.title {
  position: absolute;
  font-family: 'Sniglet', cursive;
  font-size: 80px;
  left: 215px;
  top: 35px;
}
ul {
  float: right;
  margin-top: 25px;
  margin-right: 20px;
}
li {
  margin-bottom: 10px;
}

#alphabet {
  /* position: absolute; */
  display: inline-block;
  margin-top: 400px;
  width: 1100px;
}

ul img {
  margin-right: 30px;
  width: 80px;
  height: 80px;
  
}




div {
  /* margin-bottom: 50px; */
  /* width: 700px; */
  /* margin: 50px auto;
  border-radius: 25px;
  /* opacity: 0.5; */
  /* text-align: center;
  position: relative; */ 
}
#slots {
  
  width: 1100px;
  /* display: inline-block; */
  /* margin 0 auto; */
}

#slots li {
  /* display:  inline; */
  width: 80px;
  height: 80px;
  border-style: solid;
  border-bottom-color: black;
  border-bottom-width: 10px;
   
  
  
}

#one {
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 75px;
  padding-bottom: 25px;
  font-family: 'Times New Roman';
  font-size: 40px;
  color: rgb(52, 56, 29);
  
}
.logoRules {
  display: block;
  width: 250px;
  height: 400px;
  margin-left: 20px;
  margin-top: 35px;
  font-size: 30px;
}
#rules {
  margin-top:20px;

}
#puzzle {
  position: absolute;
  right: 700px;
  bottom: 506px;
  top: 190px;
}

.goal {
  /* position: absolute; */
  top: 500px;
  right: 100px;
  display: block;
  font-size: 25px;
}