body {
  
  margin: 0;
  background-position: center;
  background: fixed;
  background-repeat: no-repeat;
  
}


header {
  position: relative;
  background: rgb(215, 228, 37);
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  border-top-width: 5px;
  border-right-width: 5px;
  height: 150px;
  border-radius: 25px;
  font-family: 'Sniglet', cursive;
} 


.bee {
  background:none;
  float: left;
}
.title {
  position: absolute;
  font-family: 'Sniglet', cursive;
  text-align: center;
  font-size: 80px;
  left: 215px;
  top: 35px;
}
#links {
  float: right;
  margin-top: 25px;
  margin-right: 20px;
}
#links li {
  margin-bottom: 10px;
  font-family: 'Sniglet', cursive;
}
#alphabet{
  position: absolute;
  left: 350px;
  bottom: 100px;
  }
  #alphabet li{
    display: inline-block;
    margin-left: 20px;
  }
  #alphabet img{
    width: 75px;
    height: 100px;
  }
/* #alphabet {
  /* position: absolute; */
  /* display: inline-block;
  margin-top: 400px;
  width: 1100px;
} */ 

/* ul img {
  margin-right: 30px;
  width: 80px;
  height: 80px;
  
} */




div {
  /* margin-bottom: 50px; */
  /* width: 700px; */
  /* margin: 50px auto;
  border-radius: 25px;
  /* opacity: 0.5; */
  /* text-align: center;
  position: relative; */ 
}
#slots {
  
  position: absolute;
  left: 650px;
  top: 500px;
  display: flex;
  margin-right: 10px;
  width: 1000px;
}

#slots li {
  /* display:  inline; */
  width: 80px;
  height: 80px;
  border-style: solid;
  border-bottom-color: black;
  border-bottom-width: 10px;
  margin-left: 35px;
}
#slots img{
  width: 80px;
  height: 80px;
}

#one {
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 75px;
  padding-bottom: 25px;
  font-family: 'Times New Roman';
  font-size: 40px;
  color: rgb(52, 56, 29);
  
}
#rules {
  position: absolute;
  display: block;
  width: 250px;
  height: 400px;
  margin-left: 20px;
  margin-top: 180px;
  font-size: 30px;
  font-family: 'Sniglet', cursive;
}

#puzzle {
  
  position: absolute;
  right: 700px;
  bottom: 506px;
  top: 190px;
}

#spellPic {
  position: relative;
  top: 20px;
  left: 600px;
}

#correctLetters {
  position: relative;
  right: 565px;
    
}

#correctLetters li {
  display: inline-block;
}


.goal {
  position: absolute;
  top: 300px;
  right: 100px;
  display: block;
  font-size: 25px;
  font-family: 'Sniglet', cursive;
}

#start {
  position: absolute;
  left: 600px;
  top: 480px;
  margin-right: 100px;
  margin-left: 100px;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  font-size: 30px;
  font-family: 'Sniglet', cursive;
  color:  rgb(215, 228, 37);
  background: black;
  
}

#level-img {
  position: absolute;
  left: 650px;
  top: 200px;
}
#level-img img {
  width: 350px;
  height: 250px;
}
#r {
  position: absolute;
  width: 250px;
  text-align: center;
  
  background: black;
  font-family: 'Sniglet', cursive;
  color:  rgb(215, 228, 37);
  border-radius: 6px;
  left: 710px;
  top: 660px;
  font-size: 25px;


}
.q{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;



}



.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  
  position: absolute;
  top: 0;
  display: flex;
  justify-content:  center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 50px;
  margin: 10px auto;
  z-index: 2;
  position: absolute;
  /* position:  */
}

.button {
  margin: 20px auto;
  z-index: 4;
  top: 500px;
  position: absolute;
}
.p1 {
  z-index: 2;
  position: absolute;
}



#hidden-img {
  z-index: 10;

}







#square {
  height: 9em;
  width: 9em;
  -webkit-border-radius: 2.5em;
  -moz-border-radius: 2.5em;
  border-radius: 2.5em;
  position: relative;
  bottom: 152px;
  left: 32px;
}

#square, #square span {
  background-color: blue;
}

#square #u {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: -2em;
  left: 2.8em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
}

#square #v {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: 3em;
  left: 7.5em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
}

#square #w {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: 7.5em;
  left: 3.3em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
  background-color: #fff;
}

#square #x {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: 3em;
  left: -.4em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
  background-color: #fff;
}

#square2 {
  height: 9em;
  width: 9em;
  -webkit-border-radius: 2.5em;
  -moz-border-radius: 2.5em;
  border-radius: 2.5em;
  position: relative;
  bottom: 297px;
  left: 175px;
}

#square2, #square2 span {
  background-color: red;
}

#square2 #uu {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: -2em;
  left: 2.8em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
}

#square2 #vv {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: 3em;
  left: 7.5em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
}

#square2 #ww {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: 7.5em;
  left: 3.3em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
  background-color: white;
}

#square2 #xx {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: 3em;
  left: -.4em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
  background-color: blue;
}

#square3 {
  height: 9em;
  width: 9em;
  -webkit-border-radius: 2.5em;
  -moz-border-radius: 2.5em;
  border-radius: 2.5em;
  position: relative;
  bottom: 584px;
  left: 28px;
}

#square3, #square3 span {
  background-color: orange;
}

#square3 #uu {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: -2em;
  left: 2.8em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
}

#square3 #vv {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: 3em;
  left: 7.5em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
}

#square3 #ww {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: 7em;
  left: 3.3em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
  background-color: blue;
}

#square3 #xx {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: 3em;
  left: -.4em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
  background-color: #fff;
}

#square4 {
  height: 9em;
  width: 9em;
  -webkit-border-radius: 2.5em;
  -moz-border-radius: 2.5em;
  border-radius: 2.5em;
  position: relative;
  bottom: 729px;
  left: 174px;
}

#square4, #square4 span {
  background-color: green;
}

#square4 #uu {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: -2em;
  left: 2.8em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
}

#square4 #vv {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: 3em;
  left: 7.5em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
}

#square4 #ww {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: 7em;
  left: 3.2em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
  background-color: red;
}

#square4 #xx {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: 3.5em;
  left: -.7em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
  background-color: orange;
}

#square5 {
  height: 9em;
  width: 9em;
  -webkit-border-radius: 2.5em;
  -moz-border-radius: 2.5em;
  border-radius: 2.5em;
  position: relative;
  bottom: 730px;
  left: 318px;
}

#square5, #square5 span {
  background-color: yellow;
}

#square5 #uu {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: -2em;
  left: 2.8em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
}

#square5 #vv {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: 3em;
  left: 8.5em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
}

#square5 #ww {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: 7.5em;
  left: 3.5em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
  background-color: white;
}

#square5 #xx {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: 3em;
  left: -.4em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
  background-color: red;
}

#square6 {
  height: 9em;
  width: 9em;
  -webkit-border-radius: 2.5em;
  -moz-border-radius: 2.5em;
  border-radius: 2.5em;
  position: relative;
  bottom: 1018px;
  left: 318px;
}

#square6, #square6 span {
  background-color: purple;
}

#square6 #uu {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: -2em;
  left: 2.8em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
}

#square6 #vv {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: 3em;
  left: 8.5em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
}

#square6 #ww {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: 7.2em;
  left: 3.3em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
  background-color: yellow;
}

#square6 #xx {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  top: 3em;
  left: -.4em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
  background-color: green;
}

#butter{
  position: absolute;
  top: 366px;
  left: 234px;
}
