#page2 {
  
  margin: 0;
  background-image: url("https://dumielauxepices.net/sites/default/files/background-clipart-landscape-846790-313843.png");
  height:930px;
  background-position: center;
  background-repeat: no-repeat;
  
}


header {
  background: rgb(215, 228, 37);
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 10px;
  border-top-width: 5px;
  border-right-width: 5px;
  height: 1500px;
  border-radius: 25px;

}

.bee {
  background:none;
  float: left;
}
.title {
  position: absolute;
  font-family: 'Sniglet', cursive;
  font-size: 80px;
  left: 215px;
  top: 500px;
}
ul {
  float: right;
  margin-top: 25px;
  margin-right: 20px;
}
li {
  margin-bottom: 10px;
}

#alphabet {
  /* position: absolute; */
  display: inline-block;
  margin-top: 400px;
  width: 1100px;
}

ul img {
  margin-right: 30px;
  width: 80px;
  height: 80px;
  
}




div {
  margin-bottom: 500px;
  width: 700px;
  margin: 500px auto;
  border-radius: 25px;
  /* opacity: 0.5; */
  text-align: center;
}

#one {
  padding-left: 2500px;
  padding-right: 2500px;
  padding-top: 75px;
  padding-bottom: 25px;
  font-family: 'Times New Roman';
  font-size: 40px;
  color: rgb(52, 56, 29);
  
}
.logoRules {
  display: block;
  width: 2500px;
  height: 400px;
  margin-left: 20px;
  margin-top: 500px;
  font-size: 30px;
}
#rules {
  margin-top:20px;

}
#puzzle {
  position: absolute;
  right: 700px;
  bottom: 506px;
  top: 190px;
}

.goal {
  /* position: absolute; */
  top: 500px;
  right: 100px;
  display: block;
  font-size: 25px;
}




















































































#circle {
  width: 500px;
  height: 500px;
  background-color: white;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}


#circle {
  width: 500px;
  height: 500px;
  background-color: white;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}


#circle {
  width: 500px;
  height: 500px;
  background-color: white;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}


#circle {
  width: 500px;
  height: 500px;
  background-color: white;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}


#circle {
  width: 500px;
  height: 500px;
  background-color: white;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}


#circle {
  width: 500px;
  height: 500px;
  background-color: white;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}