#page2 {
  
  margin: 0;
  background-position: center;
  background: fixed;
  
}


header {
  position: relative;
  background: rgb(215, 228, 37);
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  border-top-width: 5px;
  border-right-width: 5px;
  height: 150px;
  border-radius: 25px;

}

.bee {
  background:none;
  float: left;
}
.title {
  position: absolute;
  font-family: 'Sniglet', cursive;
  text-align: center;
  font-size: 80px;
  left: 215px;
  top: 35px;
}
ul {
  float: right;
  margin-top: 25px;
  margin-right: 20px;
}
li {
  margin-bottom: 10px;
  font-family: 'Sniglet', cursive;
}

#alphabet {
  /* position: absolute; */
  display: inline-block;
  margin-top: 400px;
  width: 1100px;
}

ul img {
  margin-right: 30px;
  width: 80px;
  height: 80px;
  
}




div {
  /* margin-bottom: 50px; */
  /* width: 700px; */
  /* margin: 50px auto;
  border-radius: 25px;
  /* opacity: 0.5; */
  /* text-align: center;
  position: relative; */ 
}
#slots {
  
  position: absolute;
  left: 906px;
  display: flex;
  margin-right: 10px;
  width: 1000px;
  top: 500px;
}

#slots li {
  /* display:  inline; */
  width: 80px;
  height: 80px;
  border-style: solid;
  border-bottom-color: black;
  border-bottom-width: 10px;
   
  
  
}

#one {
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 75px;
  padding-bottom: 25px;
  font-family: 'Times New Roman';
  font-size: 40px;
  color: rgb(52, 56, 29);
  
}
.logoRules {
  position: absolute;
  display: block;
  width: 250px;
  height: 400px;
  margin-left: 20px;
  margin-top: 100px;
  font-size: 30px;
  font-family: 'Sniglet', cursive;
}
#rules {
  margin-top:20px;

}

#puzzle {
  
  position: absolute;
  right: 700px;
  bottom: 506px;
  top: 190px;
}

#spellPic {
  position: relative;
  top: 120px;
  left: 600px;
}

#correctLetters {
  position: relative;
  right: 565px;
    
}

#correctLetters li {
  display: inline-block;
}

#Pick {
  position: relative;
  width: 250px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: black;
  font-family: 'Sniglet', cursive;
  color:  rgb(215, 228, 37);
  border-radius: 6px;
  left: 690px;
  top: 200px;
  font-size: 25px;
}
#alphabet{
position:relative;
right: 300px;
top: 200px;
}
#alphabet li{
  display: inline-block;
  margin-left: 20px;
}
.goal {
  position: absolute;
  top: 300px;
  right: 100px;
  display: block;
  font-size: 25px;
  font-family: 'Sniglet', cursive;
}

#start {
  position: absolute;
  left: 910px;
  top: 550px;
  margin-right: 100px;
  margin-left: 100px;
  border-bottom-width: 50px;
  border-top-width: 50px;
  border-left-width: 50px;
  border-right-width: 50px;
}


#Car {
  width: 450px;
  height: 300px;
  position: absolute;
  left: 800px;
  top: 194px;
}

